{% extends 'base.html.twig' %} {% block title %}S'inscrire {% endblock %} {% block
content %}


<div class="form">
<h1 class="form-title">Inscription</h1>
	<div class="card-body">
		{% for message in app.flashes('editorregister') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
		{% endfor %}
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.avatar) }}
		{{ form_row(registrationForm.firstname) }}
		{{ form_row(registrationForm.lastname) }}
		{{ form_row(registrationForm.username) }}
		{{ form_row(registrationForm.description) }}
		<div class="form-group-stan">
			{{ form_row(registrationForm.birthdate) }}
			<img
				class="img-stan img-stanpool"
				src="{{ asset('images/stanpool.png') }}"
				alt="logo du site"
			/>
			{{ form_row(registrationForm.jobs) }}
		</div>
		{{ form_row(registrationForm.siret) }}
		{{ form_row(registrationForm.companyname) }}
		{{ form_row(registrationForm.phonenumber) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.jobs) }}
		{{ form_row(registrationForm.tags) }}
		{{ form_row(registrationForm.plainPassword) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button class="btn btn-warning">Envoyer</button>
		{{ form_end(registrationForm) }}
	</div>
</div>
{% endblock %} {% block javascripts %}
<script>
	
</script>
{% endblock %}
