{% extends 'base.html.twig' %} {% block title %}Formulaire de contact{% endblock
%} {% block content %}


<div class="form">
  <h1 class="form-title">
    Formulaire de contact
  </h1>
  {% for message in app.flashes('contactConfirmation') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
  <img
    class="img-stan mx-auto"
    src="{{ asset('images/luckystan.png') }}"
    alt="logo du site"
  />

  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-primary">Envoyer</button>
  {{ form_end(form) }}
  <a href="{{ path('advice_post') }}">Retour à l'accueil</a>
</div>
{% endblock %}
