{% extends 'base.html.twig' %}

{% block title %} {{ advicePost.title }}{% endblock %}

{% block content %}
<section class="section-post">

    <article class="animated slideInUp">

        <div class="title-card border border-dark text-center py-2">
            <h5>{{ advicePost.title }}</h5>
        </div>

        
            <div class="advicePost-content">
                <p>
                        {{ advicePost.description|raw }}
                </p>
            </div>

        <div class ="gallery-img">
            {# Exemple emplacement des images #}

            {# Picture 1 #}
            <div class="lightbox mr-2">
            <img src="{{ asset(picture_upload_path ~ (advicePost.picture1 ?: 'marvel.jpg')) }}" style="max-width:100%;cursor:pointer" alt="">
            </div>

            {# Picture 2 #}
            <div class="lightbox mr-2">
            <img src="{{ asset(picture_upload_path ~ (advicePost.picture2 ?: 'marvel.jpg')) }}" style="max-width:100%;cursor:pointer" alt="">
            </div>

            {# Picture 3 #}
            <div class="lightbox">
            <img src="{{ asset(picture_upload_path ~ (advicePost.picture3 ?: 'marvel.jpg')) }}" style="max-width:100%;cursor:pointer" alt="">
            </div> 
        </div>
        
        
        <div class="metadata mr-3 mb-3 font-italic text-muted d-flex justify-content-end">
            <span>Publié le {{ advicePost.createdAt | date('d/m/Y à H:i') }}</span>
        </div>

    </article>
</section>

    <a class="text-dark text-center" href="{{ path('advice_post')}}">Revenir à l'accueil</a>


{% endblock %}

