{% extends 'base.html.twig' %}
{% block title %}Message{% endblock
	%} {% block body %} 



<div id="messages">
  <ul>
	{% for message in messages %}
	
	
    <li class={% if message.user.username == currentUser.username %}"d-flex currentUser" {% else %}
		"d-flex userReceiver"
	{% endif %}><p class="text-break">{{ message.user.username }}: {{ message.content }} </p><p class={% if message.user.username == currentUser.username %}"dateMessageCurrent"{% else %}"dateMessageReceiver" {% endif %}>le {{message.createdAt|date('d-m-Y H:i')}}</p></li>
    {% endfor %}
  </ul>

 
</div> 
<form id="chatbox">
	<div class="md-form">
		<i class="fas fa-pencil-alt prefix"></i>
		<textarea id="form10" class="md-textarea form-control" rows="3" name="message_content"></textarea>
		
	
		<label for="form10">Envoyer un message</label>
	  </div>
	  <button type="submit" class="btn btn-info"> Envoyer </button>
  </form>

  

{% endblock %} {% block javascripts %}
<script>

  var currentUser = "{{currentUser.id}}"
  const url = new URL("http://localhost:3000/hub");
  url.searchParams.append("topic", "http://o-stan.fr/chat");
  const eventSource = new EventSource(url, { withCredentials: true });

  eventSource.onmessage = function(mercureReceiveEvent) {
    const data = JSON.parse(mercureReceiveEvent.data);
	console.log(mercureReceiveEvent);
	console.log(data);
	const date = new Date(data.date.date);
	const dateString = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear() + " " + date.getHours() + ":" + date.getMinutes()

    if (data.conversation.id + "" === "{{conversation.id}}") {
		const className = data.from.id+ "" === currentUser  ? ' d-flex currentUser' : 'd-flex userReceiver';
		$("#messages ul").append(
			"<li class=\"" + className + "\"> <p class='text-break'>" + data.from.username + ":" + data.message + "</p><p class='dateMessage'">" + " " +dateString+ "</p></li>"
		);
		console.log(data.from.username)
		console.log(data.date)

    } else {
      toastr.success(data.from.username + " vous a envoyé un message.");
    }
  };

  const postMessageUrl = "{{ path('postMessage', { conversation: conversation.id }) }}";

  $("#chatbox").on("submit", function(submitEvent) {
    submitEvent.preventDefault();
    console.log(postMessageUrl);

    const formData = new FormData(document.querySelector("#chatbox"));

    console.log(formData);
    console.log(formData.get("message_content"));
    $.ajax({
      method: "POST",
      url: postMessageUrl,
      data: {
        message: formData.get("message_content")
      }
    });
  });
</script>
{% endblock %}
