{% extends 'base.html.twig' %} {% block body %} 
{% block title %}Message
{% endblock %}{#
<div class="form_message">
  {{
    include("message/_form.html.twig", {
      button_label: "Créer un nouveau message"
    })
  }}
</div>
#}

<div id="messages">
  <ul>
	{% for message in messages %}
	
	
    <li class={% if message.user.username == currentUser.username %}"currentUser" {% else %}
		"userReceiver"
	{% endif %}>{{ message.user.username }}: {{ message.content }}</li>
    {% endfor %}
  </ul>

  <form id="chatbox">
    <input type="text" name="message_content" />
  </form>
</div>

{% endblock %} {% block javascripts %}
<script>

  var currentUser = "{{currentUser.id}}"
  const url = new URL("http://localhost:3000/hub");
  url.searchParams.append("topic", "http://o-stan.fr/chat");
  const eventSource = new EventSource(url, { withCredentials: true });

  eventSource.onmessage = function(mercureReceiveEvent) {
    const data = JSON.parse(mercureReceiveEvent.data);
	console.log(mercureReceiveEvent);
	console.log(data);

    if (data.conversation.id + "" === "{{conversation.id}}") {
		const className = data.from.id+ "" === currentUser  ? 'currentUser' : 'userReceiver';
		$("#messages ul").append(
			"<li class=\"" + className + "\">" + data.from.username + ": " + data.message + "</li>"
		);
		console.log(data.from.username)
    } else {
      toastr.success(data.from.username + " vous a envoyé un message.");
    }
  };

  const postMessageUrl = "{{ path('postMessage', { conversation: conversation.id }) }}";

  $("#chatbox").on("submit", function(submitEvent) {
    submitEvent.preventDefault();
    console.log(postMessageUrl);

    const formData = new FormData(document.querySelector("#chatbox"));

    console.log(formData);
    console.log(formData.get("message_content"));
    $.ajax({
      method: "POST",
      url: postMessageUrl,
      data: {
        message: formData.get("message_content")
      }
    });
  });
</script>
{% endblock %}
