{% extends 'base_backend.html.twig' %}

{% block title %}
    Administration
{% endblock %}

{% block content %}
    <h1 class="text-center font-weight-bold">Les utilisateurs</h1>
    <div class="table-responsive">
        <table id="horizontalScroll" class="table table-striped userTable">
            <thead class="position-sticky text-uppercase">
                <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">Naissance</th>
                    <th scope="col">Email</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Inscrit depuis</th>
                    <th scope="col">Job(s)</th>
                    <th scope="col">Rôle</th>
                </tr>
            </thead>
            <tbody>
                {% for user in listUser %}
                    <tr>
                        <td><a href="{{ path('user_show', {'slug': user.slug }) }}">{{user.firstname}}</a></td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.companyname}}</td>
                        <td>{{user.birthdate | date('d/m/Y à H:i') }}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.address}}</td>
                        <td>{{user.phonenumber}}</td>
                        <td>{{user.createdAt| date('d/m/Y à H:i')}}</td>

                        <td>
                            {% for job in user.jobs %}
                                {{job.name}}
                            {% endfor %}
                        </td>

                        <td>
                            <div class="form-group">
                                {# onchange : premier paramètre 'this' renvoie l'élément html où il se trouve, donc Select dans notre cas #}
                                {# le deuxième paramètre est généré par twig c'est l'id du user #}
                                    <select class="form-control" id="select_role_{{user.id}}" onchange="handleRoleSelect(this, {{user.id}})"> {% for role in roles %}
                                        {# " ? et : " = Ternaire. Si le code du role du user est == au code du role dans notre boucle, alors affiche selected #}
                                        {# selected affichera directement le role par défaut du user #}
                                            <option value="{{role.id}}" {{user.role.code == role.code ? "selected" : ""}}> {{role.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>

                        <td class="d-flex">
                            <a href="{{ path('backend_user_update_status', {'id': user.id}) }}" class="btn btn-warning">
                                {% if user.isAccountNonLocked %}
                                    <i class="fas fa-user-lock"></i>
                                    Bloquer
                                {% else %}
                                    <i class="fas fa-lock-open"></i>
                                    Débloquer
                                {% endif %}
                            </a>
                            {{ include('backend/user/_delete.html.twig') }}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(listUser) }}
    </div>

{% endblock %}
